#root {
    width: 100%;
    max-width: none;
}

.card-login {
    height: 600px;
}

.h1-ppm {
    font-size: 22px;
    text-align: center;
    color: #005f9f;
}

.div-logo {
    margin-top: -20%;
}

.btn-bis {
    background-color: #005f9f;
    color: #ffffff;
    font-weight: bold;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 16px;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

#form3Example8 {
    font-size: 12px;
}

#div-proyecto {
    width: 100%;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;        
}

.form-group label {
    width: 200px;
    font-size: 16px;
    text-align: justify;
    font-weight: bold;
    color: #005f9f;
}

.form-group input,
.form-group select {
    flex: 1;
}

/*#div-form-proyecto {
    display: grid;
    column-gap: 10px;
    justify-content: space-between;
    grid-auto-flow: column;
    align-content: space-evenly;
    align-items: baseline;
    justify-items: stretch;
}*/

#strongNombre-usuario {
    font-size: 16px;
    color: #005f9f;
}